/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-image: url('/images/fondo.jpg');
  background-size: cover;        /* Para cubrir toda la pantalla */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;  /* Para que no se mueva al hacer scroll */}
